---
layout: index
---
    <h1>Da Caverna</h1>


<div class="container">
    <section class="row">
        <div class="col-md-2">
            <a href="#">{% include svg/apple.svg %}</a>
        </div>
        <div class="col-md-2">
            <a href="#">{% include svg/googleplay.svg %}</a>
        </div>
        <div class="col-md-2">
            <a href="#">{% include svg/msgroove.svg %}</a>
        </div>
        <div class="col-md-2">
            <a href="#">{% include svg/spotify.svg %}</a>
        </div>
        <div class="col-md-2">
            <a href="#">{% include svg/rdio.svg %}</a>
        </div>
        <div class="col-md-2">
            <a href="#">{% include svg/deezer.svg %}</a>
        </div>
    </section>

    <section class="row">
        Comprar
    </section>

    <section class"row" id="events-container"><!--dynamic content --></section>

    <section class="row">
        <div class="col-md-4">Sobre Da Caverna</div>
        <div class="col-md-4">Material de imprensa</div>
        <div class="col-md-4">
            <h2>Contato para shows</h2>
            <div><a href="mailto:producao@dacaverna.com.br">producao@dacaverna.com.br</a></div>
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <span itemprop="telephone"><a href="tel:4800000000">(48) 0000-0000</a></span> 
            </div>
        </div>
    </section>

</div>
